{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
        {{ if .Site.Params.homepage.show_contact_box }}
          {{ partial "call.html" (dict "site" .Site "context" . "show_button" "true") }}
        {{ end }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ .Title }} class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}" src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

<style>
  .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>

  <div class="container">
    <div class="videoWrapper">
      <!-- Copy & Pasted from YouTube -->
      <iframe width="560" height="349" src="https://www.youtube.com/embed/BiR0C8DpleU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


{{ $research := where (where .Site.RegularPages "Type" "research") ".Params.featured" true }}
{{if gt (len $research) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {{ $research := where (where .Site.RegularPages "Type" "research") ".Params.featured" true }}
      {{ range first 6 (sort $research ".Params.weight") }}
      <div class="col-12 col-md-4 mb-1">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
    {{ if not .Site.Params.homepage.show_services_button }}
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "research/" | relURL }}">View All Research</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>



{{end}}

{{ end }}

{{ define "footer_js" }}
{{ end }}
