<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-inner">
                    <style>
                        .logo {
                            width: 15%;
                            height: auto;
                            float: left;
                        }
                    </style>
                    <img src="/image/logo/wanglab_logo_2024_transparent.png" alt="Wang Lab Logo" class="logo" />
                    <img src="/image/logo/WashU_medicine_logo_2025-no_background.png" alt="WashU Medicine Logo" class="logo" />
                    <!--<h3 class="footer-title">{{.Site.Title}}</h3>-->
                    {{ partial "footer-menu" . }}
                </div>
            </div>
        </div>
    </div>
</div>
