<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <style>
            .logo {
                width: 15%;
                height: auto;
                float: left;
              }
          </style>
          <img src= "/images/logo/white_logo.png" alt="Wang Lab Logo" class = "logo">
          <!--<h3 class="footer-title">{{.Site.Title}}</h3>-->
          {{ partial "footer-menu" . }}
        </div>
      </div>
    </div>
  </div>
</div>